{%extends 'partials/base.html'%}
{%block title%}Bank{%endblock%}
{%load static%}

{%block content%}
<style>
    .greet-text {
        font-weight: 600;

    }

    .text-dark {
        font-weight: bold;
    }

    section {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        margin: 20px 0;
    }

    section .greet {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: flex-start;
        padding: 20px;
        border-radius: 10px;
    }
    .bite {
        font-size: 13px;
        padding: 3px 6px;
        border-radius: 50px;
        color: #000;
        background: rgba(0, 0, 0, 0.05);
    }
    .btn {
        background: #000;
        padding: 5px 12px;
        color: #fff;
        border-radius: 50px;
        margin: 0 5px;
        font-size: 0.8em;
    }
    .btn-outline-dark {
        background: #ffffff;
        padding: 5px 12px;
        color: #000000;
        border-radius: 50px;
        margin: 0 5px;
        font-size: 0.8em;
    }
    .round-it {
        object-fit: cover;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 15px;
    }
    .money {
        font-size: 1.6em;
        font-weight: bolder;
    }
</style>
<section>
    <h4 class="greet-text">Good morning!</h4>
    <p class="text-muted">You have <span class="text-dark">$1,258</span> in your account.</p>
    <div class="greet border shadow-sm">
        <div class="d-flex mb-2 justify-content-between align-items-center">
            <h6 class="fw-bold">Savings</h6>
            <a href="#" class="text-decoration-none">
                <i class="bi bite bi-chevron-right"></i>
            </a>
        </div>
        <div class="d-flex justify-content-start my-2 align-items-center">
            <a href="#" class="btn btn-dark rounded-5">Withdraw</a>
            <a href="{%url 'finance:send_money'%}" class="btn btn-outline-dark rounded-5">Send money</a>
        </div>
        <div class="d-flex justify-content-between my-2 align-items-center">
            <div class="d-flex justify-content-start align-items-center gap-3">
                <a href="#" class="border rounded-5 overflow-hidden"><img class="round-it"
                                                                          src="{%static 'shop_media/web43.jpg'%}"
                                                                          alt=""></a>
                <a href="#" class="text-dark ">Deposit</a>
            </div>
            <h6 class="text"><span class="badge bg-body-tertiary text-info">Pending <i
                    class="fas fa-spinner fa-spin"></i></span></h6>
        </div>
        <div class="container">
            <hr>
        </div>
        <div class="d-flex justify-content-between my-2 align-items-center">
            <div class="d-flex justify-content-start align-items-center gap-3">
                <a href="#" class="border rounded-5 overflow-hidden"><img class="round-it"
                                                                          src="{%static 'shop_media/web44.jpg'%}"
                                                                          alt=""></a>
                <a href="#" class="text-dark ">Checking</a>
            </div>
            <h6 class="money">$2,409.98</h6>
        </div>
    </div>
    <h5 class="greet-text mt-3">Linked accounts</h5>
    <div class="container">
        <div class="d-flex justify-content-start gap-3 align-items-center">
            <a href="#" class="border rounded-4"><img class="round-it" src="{%static 'shop_media/Wellss.png'%}" alt=""></a>
            <div class="d-flex flex-column justify-content-start align-items-start pt-2">
                <a href="#" class="text-dark ">Wells Fargo</a>
                <p class="text-muted display-8">Checking 0478</p>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-start gap-3 align-items-center">
                <a href="{%url 'finance:connect_bank'%}" class="border rounded-4"><img class="round-it"
                                                                                       src="{%static 'shop_media/plus.gif'%}"
                                                                                       alt=""></a>
                <a href="{%url 'finance:connect_bank'%}" class="text-decoraion-none text-dark">
                    <div class="d-flex flex-column justify-content-start align-items-start">
                        <a href="{%url 'finance:connect_bank'%}" class="text-dark ">Add bank</a>
                    </div>
                </a>
            </div>
            <a href="{%url 'finance:connect_bank'%}" class="bi bi-chevron-right text-dark fs-5"></a>

        </div>
        <hr>
    </div>
    <h5 class="greet-text">Offers for you <span class="bg-body-tertiary rounded-2 px-2 m-2 text-primary"
                                                style="font-size: 12px;">New</span></h5>
    <div class="container text-center mb-3">
        <img width="170" class="p-3 rounded-3 border" src="{%static 'shop_media/int.png'%}" alt="">
        <div class="text-center">
            <p class="text-muted my-2 text-center">
                Invest in stocks and Crypto currency assets
            </p>
            <a href="#" class="btn-sm text-dark">Start investing</a>
        </div>
    </div>
    <div class="container">
        <hr class="mx-5">
    </div>
    <div class="container text-center mb-3">
        <img width="170" class="p-3 rounded-3 border" src="{%static 'shop_media/Tax.png'%}" alt="">
        <div class="text-center">
            <p class="text-muted my-2 text-center">
                Fill Tax refunds quickly
            </p>
            <a href="#" class="btn-sm text-dark">Start filling</a>
        </div>
    </div>
    <!--    <div class="container">-->
    <!--        <hr class="mx-5">-->
    <!--    </div>-->
</section><br><br><br><br>


{%endblock%}